{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block body_class 'page-login' %}

{% block body %}
    {% set page_title = block('title') %}
    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    {% if page_title %}
                        {% if ea is defined %}
                            <a class="logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                                {{ page_title|raw }}
                            </a>
                        {% else %}
                            <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                                {{ page_title|raw }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock header_logo %}
            </div>
        </header>

        <section class="content">
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Reset password</button>
            {{ form_end(resetForm) }}
        </section>
    </div>
{% endblock %}
